<?xml version="1.0" encoding="UTF-8"?>
<mappingcorrelation
    xmlns="http://www.tik.ee.ethz.ch/~euretile/schema/MAPPINGCORRELATION"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.tik.ee.ethz.ch/~euretile/schema/MAPPINGCORRELATION
        http://www.tik.ee.ethz.ch/~euretile/schema/mappingcorrelation.xsd"
    name="mappingcorrelation1">

    <state name="State_1">
        <correlation name="correlation1">
            <processnetwork name="APP1" />
            <mapping name="mapping1" />
        </correlation>
    </state>

    <state name="END_STATE" />

</mappingcorrelation>
