#ifndef TROLLEYS_H
#define TROLLEYS_H

//needed for uint8_t
#include "board.h"

«#t1»
extern volatile uint8_t «name»[«size»];
«/t1»

extern volatile uint8_t* buffer_array_local[«trollycount»];

#endif
