#ifndef EVENTS_H_
#define EVENTS_H_

#include <pthread.h>

typedef int EventObserver;
typedef struct 
{
    pthread_mutex_t Mutex;
    pthread_cond_t Cond;
    volatile EventObserver Counter;
} Event;

void EventInit(Event * pEvent);
void EventDestroy(Event * pEvent);

//EventObserver StartObservation(Event * pEvent);
#define StartObservation(event) ((event)->Counter);
void WaitForEvent(Event * pEvent, EventObserver * pObserver);

void RaiseEvent(Event * pEvent);


#endif //EVENTS_H_