#ifndef TASKMANAGEMENT_H_
#define TASKMANAGEMENT_H_

#include <inttypes.h>
#include "global.h"

typedef uint«TaskBitfieldUnitSize»_t TaskBitfieldUnit;
static_assert(sizeof(TaskBitfieldUnit) == «TaskBitfieldUnitSize»/8, 
    "The size of type uint«TaskBitfieldUnitSize»_t was assumed to be «TaskBitfieldUnitSize» bits, but is not.");

#define TASK_BIT(n) ( TaskBitfieldUnit(1) << n)

typedef struct
{
    void (*Function)();
    
    TaskBitfieldUnit IdBitfield;
    int IdFieldIndex;
    
    int CheckStart; //-1 if the task has already finished
    int CheckEnd;
    
    uint16_t NotifyPEs; //Bitmask indicating which cores need to be notified when the task has finished
} TaskInfo;

typedef struct
{
    int * DepFieldIndices;
    TaskBitfieldUnit * DepFieldData;

    TaskInfo * Tasks;
    int TaskCount;
    
    int FirstCandidate;
    
    uint32_t * StartCycles;
    uint32_t * StopCycles;
} GroupInfo;

extern volatile TaskBitfieldUnit TasksFinished[];

//! Returns the index of the next task in the group that is ready or -1 if no task is ready.
int GetNextTask(/*inout*/GroupInfo * pgroup, const volatile TaskBitfieldUnit* finished);
//! Marks the given task as finished in the group info and the finished bitfield. Returns 1 if there are no tasks left.
int TaskFinished(int task, /*inout*/GroupInfo * pgroup, /*inout*/ volatile TaskBitfieldUnit* finished);




#endif//TASKMANAGEMENT_H_
