<?xml version="1.0" encoding="UTF-8"?>
<mapping xmlns="http://www.tik.ee.ethz.ch/~euretile/schema/MAPPING"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.tik.ee.ethz.ch/~euretile/schema/MAPPING
        http://www.tik.ee.ethz.ch/~euretile/schema/mapping.xsd"
    name="mapping1" processnetwork="APP1">

    «#bindings»
    <binding name="«group»">
        <process name="«group»" />
        <processor name="«target»" />
    </binding>
    «/bindings»

</mapping>
