Buffers = {«#buffers»
    «name» = { size = «size», bank=«membank» },«/buffers»«#divisions»«#buffers»
    «name» = { size = «size», bank=«membank» },«/buffers»«/divisions»
}

Tasks = {«#tasks»
    ["«name»"] = { buffers = {«#ifaces»Buffers.«buffer.name», «/ifaces» } },«/tasks»
}
